* {
  box-sizing: border-box;
}

.search-form{
  max-width: 500px;
}

.product-list{
  margin-top: 20px;
  max-width: 100%;
  .list-group{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  img{
    max-width: 150px;
  }
  .product-title{
    max-width: 200px;
  }
  .product-destination{
    max-width: 200px;
  }
}