* {
  box-sizing: border-box;
}

.form-title{
  display: flex;
  align-items: center;
}

.search-form{
  max-width: 500px;
}

.region-select{
  //max-width: 100px;
}

.product-list{
  margin-top: 20px;
  max-width: 100%;
  .list-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  img{
    max-width: 150px;
  }
  .product-title{
    
  }
  .product-destination{
    //max-width: 200px;
  }
}

